
 <!DOCTYPE html>
 <html lang="en">
 
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>Skydash Admin</title>
   <!-- plugins:css -->
<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../assets/stylesheets/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/0709d2b5ba.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/additem.css">
<link rel="stylesheet" href="/template/vendors/feather/feather.css">
<link rel="stylesheet" href="/template//ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/template/vendors/css/vendor.bundle.base.css">
<script src="https://kit.fontawesome.com/0709d2b5ba.js" crossorigin="anonymous"></script>
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="/template/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" type="text/css" href="/template/js/select.dataTables.min.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="/template/css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="/template//favicon.png" />
 </head>
 
 <body>
   <div class="container-scroller">
     <!-- partial:partials/_navbar.html -->
     <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
       <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
         <a class="navbar-brand brand-logo mr-5" href="/admin"><img src="https://cdn.shopify.com/s/files/1/1691/0147/t/3/assets/logo.png?v=128804864739962265131483514779" class="mr-2"
             alt="logo" /></a>
         <a class="navbar-brand brand-logo-mini" href="/admin"><img src="https://cdn.shopify.com/s/files/1/1691/0147/t/3/assets/logo.png?v=128804864739962265131483514779" alt="logo" /></a>
       </div>
       <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        
         <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
           data-toggle="offcanvas">
           <span class="icon-menu"></span>
         </button>
       </div>
     </nav>
     <!-- partial -->
     <div class="container-fluid page-body-wrapper">
       <!-- partial:partials/_settings-panel.html -->
       <div class="theme-setting-wrapper">
         <div id="settings-trigger"><i class="ti-settings"></i></div>
         <div id="theme-settings" class="settings-panel">
           <i class="settings-close ti-close"></i>
           <p class="settings-heading">SIDEBAR SKINS</p>
           <div class="sidebar-bg-options selected" id="sidebar-light-theme">
             <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
           </div>
           <div class="sidebar-bg-options" id="sidebar-dark-theme">
             <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
           </div>
           <p class="settings-heading mt-2">HEADER SKINS</p>
           <div class="color-tiles mx-0 px-4">
             <div class="tiles success"></div>
             <div class="tiles warning"></div>
             <div class="tiles danger"></div>
             <div class="tiles info"></div>
             <div class="tiles dark"></div>
             <div class="tiles default"></div>
           </div>
         </div>
       </div>
       <div id="right-sidebar" class="settings-panel">
         <i class="settings-close ti-close"></i>
         <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
           <li class="nav-item">
             <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
               aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab"
               aria-controls="chats-section">CHATS</a>
           </li>
         </ul>
         <div class="tab-content" id="setting-content">
           <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
             aria-labelledby="todo-section">
             <div class="add-items d-flex px-3 mb-0">
               <form class="form w-100">
                 <div class="form-group d-flex">
                   <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                   <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                 </div>
               </form>
             </div>
             <div class="list-wrapper px-3">
               <ul class="d-flex flex-column-reverse todo-list">
                 <li>
                   <div class="form-check">
                     <label class="form-check-label">
                       <input class="checkbox" type="checkbox">
                       Team review meeting at 3.00 PM
                     </label>
                   </div>
                   <i class="remove ti-close"></i>
                 </li>
                 <li>
                   <div class="form-check">
                     <label class="form-check-label">
                       <input class="checkbox" type="checkbox">
                       Prepare for presentation
                     </label>
                   </div>
                   <i class="remove ti-close"></i>
                 </li>
                 <li>
                   <div class="form-check">
                     <label class="form-check-label">
                       <input class="checkbox" type="checkbox">
                       Resolve all the low priority tickets due today
                     </label>
                   </div>
                   <i class="remove ti-close"></i>
                 </li>
                 <li class="completed">
                   <div class="form-check">
                     <label class="form-check-label">
                       <input class="checkbox" type="checkbox" checked>
                       Schedule meeting for next week
                     </label>
                   </div>
                   <i class="remove ti-close"></i>
                 </li>
                 <li class="completed">
                   <div class="form-check">
                     <label class="form-check-label">
                       <input class="checkbox" type="checkbox" checked>
                       Project review
                     </label>
                   </div>
                   <i class="remove ti-close"></i>
                 </li>
               </ul>
             </div>
             <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
             <div class="events pt-4 px-3">
               <div class="wrapper d-flex mb-2">
                 <i class="ti-control-record text-primary mr-2"></i>
                 <span>Feb 11 2018</span>
               </div>
               <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
               <p class="text-gray mb-0">The total number of sessions</p>
             </div>
             <div class="events pt-4 px-3">
               <div class="wrapper d-flex mb-2">
                 <i class="ti-control-record text-primary mr-2"></i>
                 <span>Feb 7 2018</span>
               </div>
               <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
               <p class="text-gray mb-0 ">Call Sarah Graves</p>
             </div>
           </div>
           <!-- To do section tab ends -->
           <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
             <div class="d-flex align-items-center justify-content-between border-bottom">
               <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
               <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See
                 All</small>
             </div>
             <ul class="chat-list">
               <li class="list active">
                 <div class="profile"><img src="images/faces/face1.jpg" alt="image"><span class="online"></span></div>
                 <div class="info">
                   <p>Thomas Douglas</p>
                   <p>Available</p>
                 </div>
                 <small class="text-muted my-auto">19 min</small>
               </li>
               <li class="list">
                 <div class="profile"><img src="images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
                 <div class="info">
                   <div class="wrapper d-flex">
                     <p>Catherine</p>
                   </div>
                   <p>Away</p>
                 </div>
                 <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                 <small class="text-muted my-auto">23 min</small>
               </li>
               <li class="list">
                 <div class="profile"><img src="images/faces/face3.jpg" alt="image"><span class="online"></span></div>
                 <div class="info">
                   <p>Daniel Russell</p>
                   <p>Available</p>
                 </div>
                 <small class="text-muted my-auto">14 min</small>
               </li>
               <li class="list">
                 <div class="profile"><img src="images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
                 <div class="info">
                   <p>James Richardson</p>
                   <p>Away</p>
                 </div>
                 <small class="text-muted my-auto">2 min</small>
               </li>
               <li class="list">
                 <div class="profile"><img src="images/faces/face5.jpg" alt="image"><span class="online"></span></div>
                 <div class="info">
                   <p>Madeline Kennedy</p>
                   <p>Available</p>
                 </div>
                 <small class="text-muted my-auto">5 min</small>
               </li>
               <li class="list">
                 <div class="profile"><img src="images/faces/face6.jpg" alt="image"><span class="online"></span></div>
                 <div class="info">
                   <p>Sarah Graves</p>
                   <p>Available</p>
                 </div>
                 <small class="text-muted my-auto">47 min</small>
               </li>
             </ul>
           </div>
           <!-- chat tab ends -->
         </div>
       </div>
       <!-- partial -->
       <!-- partial:partials/_sidebar.html -->
       <nav class="sidebar sidebar-offcanvas" id="sidebar">
         <ul class="nav">
           <li class="nav-item">
             <a class="nav-link" href="/admin">
               <i class="icon-grid menu-icon"></i>
               <span class="menu-title">Dashboard</span>
             </a>
           </li>
           <li class="nav-item ">
             <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
               <i class="icon-layout menu-icon"></i>
               <span class="menu-title">Products</span>
               <i class="menu-arrow"></i>
             </a>
             <div class="collapse" id="ui-basic">
               <ul class="nav flex-column sub-menu">
                 <li class="nav-item"> <a class="nav-link active" href="/admin/productdisplay">View Products</a></li>
                 <li class="nav-item"> <a class="nav-link" href="/admin/addproduct">Add Products</a></li>
                 <!-- <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li> -->
               </ul>
             </div>
           </li>
           <li class="nav-item">
             <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
               aria-controls="form-elements">
               <i class="icon-columns menu-icon"></i>
               <span class="menu-title">Users</span>
               <i class="menu-arrow"></i>
             </a>
             <div class="collapse" id="form-elements">
               <ul class="nav flex-column sub-menu">
                 <li class="nav-item"><a class="nav-link" href="/admin//userdisplay">Display Users</a></li>
               </ul>
             </div>
           </li>
           <li class="nav-item">
             <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
               <i class="icon-bar-graph menu-icon"></i>
               <span class="menu-title">Category</span>
               <i class="menu-arrow"></i>
             </a>
             <div class="collapse" id="charts">
               <ul class="nav flex-column sub-menu">
                 <li class="nav-item"> <a class="nav-link" href="/admin/displaycategory">View Categories</a></li>
               </ul>
             </div>
           </li>
           <li class="nav-item active">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Orders</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/allorder">All Orders</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">Coupons</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/displaycoupon">Display Coupons</a></li>
              </ul>
            </div>
          </li>
           <li class="nav-item">
             <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
               <i class="icon-head menu-icon"></i>
               <span class="menu-title">User Pages</span>
               <i class="menu-arrow"></i>
             </a>
             <div class="collapse" id="auth">
               <ul class="nav flex-column sub-menu">
                 <li class="nav-item"> <a class="nav-link" href="/template/pages/samples/login.html"> Login </a></li>
                 <li class="nav-item"> <a class="nav-link" href="/template/pages/samples/register.html"> Register </a></li>
               </ul>
             </div>
           </li>
           <li class="nav-item">
             <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
               <i class="icon-ban menu-icon"></i>
               <span class="menu-title">Error pages</span>
               <i class="menu-arrow"></i>
             </a>
             <div class="collapse" id="error">
               <ul class="nav flex-column sub-menu">
                 <li class="nav-item"> <a class="nav-link" href="/template/pages/samples/error-404.html"> 404 </a></li>
                 <li class="nav-item"> <a class="nav-link" href="/template//samples/error-500.html"> 500 </a></li>
               </ul>
             </div>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="/admin/adminlogout">
              <i class="icon-power menu-icon"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
         </ul>
       </nav>
       <!-- partial -->
       <div class="main-panel">
        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                  <style>
                    div.dataTables_wrapper div.dataTables_length label{
                      display: none;
                    }
                  </style>
                     <style>
                      .div.dataTables_wrapper div.dataTables_filter input{
                        margin-right: 5rem;
                      }
                     </style>
                      <div class="main-panel">
                        <div class="container-xl">
                    <form action="/admin" method="post">
                        <table class="table table-striped table-hover" id="admin-table">
                            <thead>
                                <tr>
                                    <tr>
                                        <th>ID</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Image</th>
                                    </tr>
                                </tr>
                            </thead>
                            <tbody>
                               <% for(var i=0;i<=product.length-1; i++){ %>
                            <tr>
                                <td>
                                    <%= i+1%>
                                </td>
                                <td>
                                    <%= product[i].product_name%>
                                </td>
                                <td>
                                   <%= product[i].product_quantity%>
                                </td>
                                <td>
                                    ₹ <%= product[i].product_price%>
                                </td>
                                <td>
                                     <img style="height: 50px;width: 50px;" src="<%= product[i].product_image%>" alt="">

                                </td>
                            </tr>
                            <%}%>
                            </tbody>
                        </table>
                    </form>
                    <script>
                      function alert(id){
                        swal({
                        title: "Are you sure?",
                        text: "Once deleted, you will not be able to recover this category!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                      })
                      .then((willDelete) => {
                        if (willDelete) {
                          swal(" Your product has been deleted!", {
                            icon: "success",
                          });
                          window.location = "/admin/cancelorder?id="+id
                        } else {
                          swal("Your product is safe!");
                        }
                      });

                        
                      }
                    </script>
                        </div>
                      </div>
    
                </div>
            </div>
        </div>
     <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
    
            $(document).ready(function () {
                $('#admin-table').DataTable();
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

         <!-- content-wrapper ends -->
         <!-- partial:partials/_footer.html -->
         <footer class="footer">
           <div class="d-sm-flex justify-content-center justify-content-sm-between">
             <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. Premium <a
                 href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.
               All rights reserved.</span>
             <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                 class="ti-heart text-danger ml-1"></i></span>
           </div>
         </footer>
         <!-- partial -->
       </div>
       <!-- main-panel ends -->
     </div>
     <!-- page-body-wrapper ends -->
   </div>
   <!-- container-scroller -->
 
   <!-- plugins:js -->
   <script src="vendors/js/vendor.bundle.base.js"></script>
   <!-- endinject -->
   <!-- Plugin js for this page -->
   <script src="vendors/chart.js/Chart.min.js"></script>
   <script src="vendors/datatables.net/jquery.dataTables.js"></script>
   <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
   <script src="js/dataTables.select.min.js"></script>
 
   <!-- End plugin js for this page -->
   <!-- inject:js -->
   <script src="js/off-canvas.js"></script>
   <script src="js/hoverable-collapse.js"></script>
   <script src="js/template.js"></script>
   <script src="js/settings.js"></script>
   <script src="js/todolist.js"></script>
   <!-- endinject -->
   <!-- Custom js for this page-->
   <script src="js/dashboard.js"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script src="js/Chart.roundedBarCharts.js"></script>
   <!-- End custom js for this page-->
 </body>
 
 </html>