
   
       

                       
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js">  <!--<![endif]-->
<head>
    <style>
        a.buy-btn{
  display:block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  width:35px;
  height:35px;
  line-height:35px;
  border-radius:50%;
  border:1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover , a.buy-btn:active, a.buy-btn:focus{
  /* border-color: #FF9800;
  background: #FF9800; */
  color: #fff;
  text-decoration:none;
}
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=================== The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags ===================-->
    <!--=================== Favicon ===================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/favicon.png?v=141314581251001273901483514777" type="image/png" />
    <script src="https://kit.fontawesome.com/0709d2b5ba.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/slider.js"></script>
    <!--=================== Description ===================-->
    <meta name="description" content="HAUNT Jewellery | Aadith Gino">

    <link rel="stylesheet" href="<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--=================== Title ===================-->
    <title>HAUNT </title>
    <!--=================== Helpers ===================-->
    <link rel="canonical" href="https://haunt-responsive-theme.myshopify.com/">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <!--=================== Bootstrap Core CSS ===================-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/bootstrap.min.css?v=102160851808464328901483514777" rel="stylesheet" type="text/css" media="all" />
    <!--=================== Paira Framework Main CSS ===================-->
    <link href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/paira.css?v=7005573515670121941483515071" rel="stylesheet" type="text/css" media="all" />
    <!--=================== Paira Framework Color and Font Settings CSS ===================-->
    <link href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/paira-typography.css?v=63495490553207931111483514781" rel="stylesheet" type="text/css" media="all" />
    <!--=================== Paira Framework Main Responsive CSS ===================-->
    <link href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/paira-responsive.css?v=170750040158343454031483514779" rel="stylesheet" type="text/css" media="all" />
    <!--=================== Font Awesome ===================-->
    <link href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/font-awesome.min.css?v=63684808038327842911483514777" rel="stylesheet" type="text/css" media="all" />

    <!--=================== Jquery Include ===================-->
    <script src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/jquery-1.11.2.min.js?v=44735351667816064131483514779" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/jquery-migrate-1.2.1.min.js?v=163044760040938828711483514779" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/javascripts/jquery.imgzoom.js"></script>
    <link rel="stylesheet" href="stylesheets/singleprdct.css">
    <!--=================== Header Hook For Plugins ===================-->
    <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/16910147/digital_wallets/dialog">
<script id="shopify-features" type="application/json">{"accessToken":"8ad628d852d0490fc53843e4a87add69","betas":["rich-media-storefront-analytics"],"domain":"haunt-responsive-theme.myshopify.com","predictiveSearch":true,"shopId":16910147,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js?v=2","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js?v=2","locale":"en"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "haunt-responsive-theme.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"USD","rate":"1.0"};
Shopify.country = "US";
Shopify.theme = {"name":"haunt-shopify-theme-v1-0","id":171275473,"theme_store_id":null,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";
Shopify.routes = Shopify.routes || {};
Shopify.routes.root = "/";</script>

</head>
<body>
    <style>
        body{
            font-family: sans-serif;
        }
    </style>

<!--=================== Main Body Content Container ===================-->
<div class="paira-container">
    <!--=================== Header Container ===================-->
    <header>
    <!--=================== Header Top Section ===================-->
    <section class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                        <div class="logo-text pull-left">
                            
                            <a href="/">
                                <img src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/logo.png?v=128804864739962265131483514779" class="img-responsive"  alt="">
                            </a>
                            
                        </div>
                    
                    <!--=================== Cart ===================-->
                    
                    <!-- <div class="cart-menu-body paira-cart-menu-body pull-right">
                        <a href="/cart">My Cart <span class="paira-cart-item-count">( 5 )</span></a>
                    </div> -->
                    
                

                    <% if (!username) { %>
                        <ul class="list-inline pull-right margin-clear log-reg">
                        
                        
                            <li>
                                
                                <a href="/userlogin">Login</a>
                                
                            </li>
                            
                            
                            
                            <!-- <li><a href="/signup">Register</a></li> -->
                            
                            
                            
                        </ul>
                        <%} else { %>
                            <ul class="list-inline pull-right margin-clear log-reg">
                                <li>
                                    <a href="/wallet"> <i class="fa-solid fa-wallet"></i></i> Wallet </a>
                                </li>
                        
                                <li>
                                    
                                    <a href="/userprofile"><%= username%></a>
                                    
                                </li>

                                <li>
                                    <a href="/userlogout"> <i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                                </li>
                                
                                
                                
                                
                                
                                
                                
                            </ul>
                        <% } %>
                </div>
            </div>
        </div>
    </section>
    <section class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!--=================== Main Menu ===================-->
                    <!--=================== Multi Layout Mega Menu ===================-->
<nav class="navbar navbar-default paira-mega-menu mega-menu">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle pull-right">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            
            
            <li class="">
                <a href="/">Home</a>
            </li>
            
            
            
            <li class="">
                <a href="/usershop">Shop</a>
            </li>
            
            
            
            <!-- <li class="">
                <a href="/blogs/news">Collections</a>
            </li> -->
            
            
            
            <li class="">
                <!-- <a href="/pages/about-us">Cart</a> -->
                <a href="/usercart">My Cart(<span id="mycart" class="paira-cart-item-count"><%=count%></span>)
            </li>
            
            <li class="">
                <a href="/whishlist">Favorites</a>
            </li>
            
            
            <li class="">
                <a href="/userprofile">Profile </a>
            </li>

            
            <li class="">
                <a href="/allorder">Orders </a>
            </li>
            
            
        </ul>
    </div>
</nav>

                </div>
            </div>
        </div>
    </section>
    
</header>
    <!--=================== Main Content Container ===================-->
    <!--=================== Product Template ===================-->
<main class="product-page paira-product margin-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-9 padding-clear  col-xs-12 col-sm-8">
                <section class="single-product">
                    <div class="text-center">
                        <div class="col-md-12">
                            <div class="page-title margin-top-30">
                                <h1 class="page-header text-center"><%= product[0].itemname %></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 margin-top-30">
                                        <h2 class="margin-bottom-20 margin-clear paira-price-preview">
                                            
                                            
                                         
                                            
                                            <del><span class="money">₹ <%= product[0]['price'] %></span></del> <span class="paira-default-price"><span class="money"> <% if (product[0]['originalprice'] > product[0]['categoryprice']) { %>   ₹ <%= product[0]['categoryprice'] %>   <%} else { %>   ₹ <%= product[0]['originalprice'] %>   <% } %></span></span>
                                        </h2>
                                        <div class="single-product-details paira-single-product-details">
                                            <p class="margin-bottom-20"><label class="margin-clear">Brand :</label>  <%= product[0].brand %></p>
                                            <p class="margin-bottom-20"><label class="margin-clear">Type :</label>  <%= product[0].Result.category %></p>
                                        </div>
                                        <div class="option-switch-dropdown">
                                            
                                            
                        
                                        </div>
                                     
                                        <div class="single-product-buttons">
                                            <% if (product[0].quantity < 5 && product[0].quantity > 0) { %>
                                                <label style="color: red;"  class="margin-top-0"> Only <%=product[0].quantity%> Left Hurry Up</label>
                                                <% } %>
                                        
           <br><br><br><br><br><br>
           <% if (product[0].quantity >= 1) { %>
            <a  onclick="  add(`<%= product[0]._id %>` , `<%=user%>`)"  style="font-size: 20px;"><i class="fa fa-shopping-cart"></i>&nbsp;Add To Cart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <!-- <a href="/buynow?id=<%= product[0]._id %>%>" style="font-size: 20px;"></i>&nbsp;Buy Now </a> -->
            <%} else { %>
                <a  style="font-size: 20px;"><i class="fa fa-shopping-cart"></i>&nbsp;Out Of Stock</a>
            <% } %>
            
           
            <% if (prowhisglist1) { %>
                <button style=" border: 0px; background-color: white;">  <a onclick="Toggle2(`<%= product[0]['_id'] %>`,`<%=user%>`)" style="float: left; margin-left: 12rem; background-color: #ea8125; margin-top: 1rem;" id="removefavo" class="buy-btn"> <i style="color: black;" class="fa-solid fa-heart"></i> </a> </button>
                <%} else { %>
                    <button style="background-color: white; border: 0px;">  <a onclick="Toggle1(`<%= product[0]['_id'] %>`,`<%=user%>`)" style="float: left; margin-left: 12rem; margin-top: 1rem;" id="favo" class="buy-btn"> <i style="color: black;" class="fa-solid fa-heart"></i> </a> </button>
                <% } %>
                
        
            
           
        </div>
        <script>
       

            //    First Like Button   
               var btnvar1 = document.getElementById('btnh1');
        
               function Toggle1(id,user){
                
             document.getElementById("favo").style.backgroundColor = "#ea8125"
                        
         if(user === "login"){
            console.log(id);
            $.ajax({
            url: '/addtowhishlist?id='+id,
            method:"get"
        })
        toastr.options.closeButton = true;
        toastr.options.progressBar = true;
        toastr.success("Product Added To Favourites Successfully")
        
}else{
window.location = "/login"
}
               }


               function Toggle2(id,user){
                document.getElementById('removefavo').style.backgroundColor = "white";
                if(user === "login"){
            console.log(id);
            $.ajax({
            url: '/addtowhishlist?id='+id,
            method:"get"
        })
        toastr.options.closeButton = true;
        toastr.options.progressBar = true;
        toastr.warning("Product Removed From Favourites ")
        
}else{
window.location = "/login"
}
               }
            </script>
                                        
                                        <script>
                                             function add(id,user){
        console.log(user);
       
        if(user === "login"){

        console.log("sukanio");
        console.log(id);
        $.ajax({
            url : '/addtocart?id='+id,
            method : 'get',
        })
        let count = $('#mycart').html()
        count = parseInt(count)+1
        $("#mycart").html(count)
        console.log(count+"is new count");
        // swal("Added To Cart!", "Product Added To Cart Successully!", "success");
        console.log(count+"is new count");
        toastr.options.closeButton = true;
        toastr.options.progressBar = true;
        toastr.success("Product Added To Cart Successfully")
    }else{
        window.location = "/login"
    }
    }
</script>

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 paira-gap-1 pull-right ">
                                        <div class="paira-product single-variants-product">
                                            <div class="single-product-image-list">
                                                <div id="product-carousel" class="carousel slide paira-single-product-slider" data-ride="carousel">
                                                    
                                                        <div class="wrapper">
                                                            <div style="margin-right: 50%;" class="block">
                                                                <img id="main-image" src="<%=product[0].image1%>" alt="Image To Zoom" class="block__pic" data-title="" data-help="">
                                                            </div>
                                                        </div>
                                                        <div class=" text-center"> <img onclick="change_image(this)" src="<%=product[0].image1%>" style="width: 100px;height: 100px; border: 2px solid;"> <img onclick="change_image(this)" src="<%=product[0].image2%>" style="width: 100px;height: 100px;border: 2px solid;"> </div>
                                                        <script>
                                                            function change_image(image){
                                                var container = document.getElementById("main-image");
                                                container.src = image.src;
                                                }
                                                document.addEventListener("DOMContentLoaded", function(event) {
                                                });
                                                        </script>
                                                        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6" crossorigin="anonymous"></script>
                                                        <script src="/javascripts/zoomsl.js"></script>
                                                        <script src="/javascripts/script.js"></script>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        var bootCarousel = $(".carousel");
                                        bootCarousel.append("<ol class='carousel-indicators'></ol>");
                                        var indicators = $(".carousel-indicators");
                                        bootCarousel.find(".carousel-inner").children(".item").each(function(index) {
                                            (index === 0) ?
                                                    indicators.append("<li data-target='#product-carousel' data-slide-to='" + index + "' class='active'></li>") :
                                                    indicators.append("<li data-target='#product-carousel' data-slide-to='" + index + "'></li>");
                                        });
                                    </script>
                                </div>
                                <div class="row paira-gap-1">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs single-product-tabs">
                                            <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                                        </ul>
                                        
                                        <p><%=product[0].description%> </p>
                                    </div>
                                </div>
                            </div>
                </section>
                <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 
  
  <div class="small-container">
    <div class="row row-2">
    </div>  
    <br>
    <br>
    <h2>Similar Items</h2>
    <div class="row">
        <% for (var i=0; i < similaritems.length;  i++ ) { %>
      <div class="col-4">
        <a href="/singleproduct?id=<%= similaritems[i]['_id'] %>"><img src="<%= similaritems[i]['image1'] %>" alt="" /></a>
        <a href="/singleproduct?id=<%= similaritems[i]['_id'] %>"><h4><%= similaritems[i]['itemname'] %></h4></a>
        <p><del><span class="money">₹ <%= similaritems[i]['price'] %></span></del> <span class="paira-default-price"><span class="money"> <% if (similaritems[i]['originalprice'] > similaritems[i]['categoryprice']) { %>   ₹ <%= similaritems[i]['categoryprice'] %>   <%} else { %>   ₹ <%= similaritems[i]['originalprice'] %>   <% } %></span></span></p>
      </div>
      <% } %>
    </div>
  </div>
  
  <!-- js for toggle menu -->
  <script>
    var MenuItems = document.getElementById('MenuItems');
    MenuItems.style.maxHeight = '0px';
  
    function menutoggle() {
      if (MenuItems.style.maxHeight == '0px') {
        MenuItems.style.maxHeight = '200px';
      } else {
        MenuItems.style.maxHeight = '0px';
      }
    }
  </script>
</body>
</html>
            </div>
           
        </div>
    </div>
</main>
    <!--=================== Footer Container ===================-->
    <!--=================== Footer ===================-->
    <footer>
        <!--=================== Footer Middle Section ===================-->
        <section class="footer-middle">
            <div class="container">
                <div class="row">
                    <!--=================== Footer Middle Column 1 ===================-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h4 class="margin-clear margin-clear margin-bottom-20">Contact Us</h4>
                        <p class=""><i class="fa fa-envelope margin-right-10"></i> support@haunt.com</p>
                        <p class=""><i class="fa fa-phone margin-right-10"></i> Mon - Sun 8.00 - 15.00</p>
                        <p class=""><i class="fa fa-map-marker  margin-right-10"></i> Kochi</p>
                    </div>
                    <!--=================== Footer Middle Column 2 ===================-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="list-unstyled footer-list-style">
                            
                            <li><a href="">Terms & Conditions</a></li>
                            
                            <li><a href="">Our credit slips</a></li>
                            
                            <li><a href="">Shipping & Refund</a></li>
                            
                            <li><a href="">Delivery Information</a></li>
                            
                            <li><a href="">Our personal info</a></li>
                            
                        </ul>
                    </div>
                    <!--=================== Footer Middle Column 3 ===================-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <ul class="list-unstyled footer-list-style">
                            
                            <li><a href="">Search</a></li>
                            
                            <li><a href="">About us</a></li>
                            
                            <li><a href="">Contact us</a></li>
                            
                            <li><a href="">Returns</a></li>
                            
                            <li><a href="">Shipping</a></li>
                            
                        </ul>
                    </div>
                    <!--=================== Footer Middle Column 1 ===================-->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <p>Spoil your loved ones with a necklace that can be paired easily with any ethnic outfit like a suit or a sari. The sheer gold gives an elite feel to the jewellery on a budget..</p>
                        
                    </div>
                </div>
            </div>
        </section>
        <!--=================== Footer Bottom Section ===================-->
        <section class="footer-bottom borders">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="text-center margin-top-20 margin-bottom-20">&copy; <a href="#" target="_blank">HAUNT</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>

<!--=================== For All Modal Dialog Box / Loading Animation ===================-->
<!--=================== Ajax Loading ===================-->
<div class="paira-loading ajax-loading margin-clear padding-clear text-center" style="display: none;">
    <img src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/ajax_loader.gif?v=6138063637344813521483514776" class="padding-clear margin-top-10">
    <p>Loading...</p>
</div>
<!--=================== Ajax Success Message ===================-->
<div class="modal fade ajax-success-message" id="paira-ajax-success-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="margin-bottom-15 paira-success-message-title"></h4>
                        <div class="alert alert-success margin-bottom-0 margin-top-15 padding-top-5 padding-bottom-5 text-center" role="alert">
                            <i class="fa fa-check"></i> Added To Your Shopping Cart.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================== Common Message ===================-->
<div class="modal fade common-message" id="paira-common-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success margin-bottom-20 margin-top-20 text-center font-size-14" role="alert">
                            <strong class="paira-common-message-details"></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================== Video ===================-->
<div class="modal fade" id="playvideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <iframe style="width: 100%" height="480" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<!--=================== Scripts Include ===================-->
<script src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/bootstrap.min.js?v=73724390286584561281483514777" type="text/javascript"></script>
<script src="//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/option_selection-9f517843f664ad329c689020fb1e45d03cac979f64b9eb1651ea32858b0ff452.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/jquery.easing.1.3.js?v=172541285191835633401483514778" type="text/javascript"></script>
<!--=================== Paira Framework Main Javascript ===================-->
<script src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/paira.js?v=50387880865456428231483514779" type="text/javascript"></script>

</body>
</html>